attrs
backcall
bleach
certifi
cffi
chardet
ConfigArgParse
cycler
datasets
decorator
defusedxml
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
lab
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
PyYAML
pyzmq
qtconsole
requests
Send2Trash
simplejson
six
terminado
testpath
torch
torchtext
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
zipp
